## Lists
1.

In [73]:
shopping = ['spam','ham','eggs', 'ham']

In [74]:
shopping[1]

'ham'

In [75]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [76]:
shopping[-1]

'ham'

2.

In [77]:
stops = ["Croy", "Cumbernauld", "Falkirk High", 
         "Linlithgow", "Livingston", "Haymarket"]

In [78]:
stops.append('Edinburgh Waverley')

In [79]:
stops = ["Queen Street"] + stops

In [80]:
[print(i) for i in range(len(stops)) if stops[i] == "Croy"].pop()
# But better way
stops.index('Croy')

1

1

In [81]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [82]:
stops.remove('Haymarket')
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [83]:
stops.clear()
stops

[]

3.

In [84]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [85]:
person["name"]

'Steph'

In [86]:
person['email'] = 'steph@codeclan.com'
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [87]:
del person['Instructor']
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

4.

In [151]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [99]:
print([i for i in numbers if i % 2 == 0])

[6, 2, 2, 6]

In [100]:
print(max(numbers) - min(numbers))

98

In [101]:
for i in range(len(numbers)):
 if numbers[i] == 2:
     if numbers[i + 1] == 2:
         print(True)

True

In [160]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

for i in range(len(numbers)):
    if numbers[i] != 6:
        print(numbers[i])

1
2
2
7
1
13
99
7

5.

In [125]:
python_is_fun = False
python_is_weird = True

if python_is_fun or python_is_weird:
    print('Woo')
elif python_is_fun and python_is_weird:
    print('Woo')
else:
    print('Python is not for me')

Woo

6.

In [129]:
chickens = [
    { "name": "Margaret", "age": 2, "eggs": 0 },
    { "name": "Hetty", "age": 1, "eggs": 2 },
    { "name": "Henrietta", "age": 3, "eggs": 1 },
    { "name": "Audrey", "age": 2, "eggs": 0 },
    { "name": "Mabel", "age": 5, "eggs": 1 },]

def egg_count(chlist):
    total_eggs = 0
    for chicken in chlist:
        total_eggs += chicken["eggs"]
    return f"{total_eggs} eggs collected"

egg_count(chickens)

'4 eggs collected'